body{
    background-color: #76B952FF;
    display:flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;   
}
.main-box {
    background-color: white;
    padding:40px;
    margin:400px;
}
input{
    background-color: #F2F2F2FF !important;
}
.login-btn {
    background-color:#4CB24FFF;
}
.main-box{
    -webkit-box-shadow: 0px 0px 9px 3px #000000; 
box-shadow: 0px 0px 9px 3px #000000;
}