/* UNIVERSAL SELECTOR */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: white;
}

.gmail-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header Section CSS */
.gmail-header{
    display: flex;
    text-align: center;        /* vertically centre all items */
    padding: 8px 12px;         /* 8px=top bottom 12px=left nd right */
    height: 61px;              /* fixed header height */   
    background-color: #f8fafd;
}

.header-search{
    max-width: 500px;
    background: #e9eef6;
    border: 0px solid black;
    border-radius: 50px;
}


/* Side bar CSS */
.compose-btn{
    background: #c2e7ff;
    border: none !important;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 600;
    box-shadow: ba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    color: black !important;
    text-align: center;
}

.sidebar{
    width: 250px;
    padding: 9px;
    background: #f8fafd;
}

.compose-btn:hover{
    background: #c2e7ff;
    box-shadow: 0 1px 3px 0 rgba(60,64,67,.3), 0 4px 8px 3px rgba(60,64,67,.15) !important;  /* Larger Box Shadow */
}


